<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>INF 494</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
      integrity="sha256-O8SsQwDg1R10WnKJNyYgd9J3rlom+YSVcGbEF5RmfFk="
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/stimulus@2.0.0/dist/stimulus.umd.js"
      integrity="sha256-pFJFRha49y6Ydzwz75iRZDnSiDRBxLK7Dg0lRcduU4I="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/d3@6.7.0/dist/d3.min.js"
      integrity="sha256-+7jaYCp29O1JusNWHaYtgUn6EhuP0VaFuswhNV06MyI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/d3-scale-chromatic@2.0.0/dist/d3-scale-chromatic.min.js"
      integrity="sha256-6j4tMdLVRyhccNbjkfHgQCTYUmR68g0v9a+MvHPd2yI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/d3fc@15.1.2/build/d3fc.min.js"
      integrity="sha256-z3SYoDkxR/vU8aBPj+8WDf/dQEMTnTHxTfeB+gOs/LA="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Text Models Cross-Comparison Tool</h1>
        <p class="subtitle">
          Compare how different text models relate to each other on multiple
          datasets.
        </p>
      </div>
    </section>
    <main class="container">
      <!-- View selector -->
      <div class="my-4 has-text-centered">
        <div class="select">
          <select name="view">
            <optgroup label="Subject and Toxicity">
              <option value="toxic-comment-classification/news-classification">
                Subject per Toxicity
              </option>
              <option value="news-classification/toxic-comment-classification">
                Toxicity per Subject
              </option>
            </optgroup>

            <optgroup label="Sentiment and Subject">
              <option value="sentiment-classification/news-classification">
                Subject per Sentiment
              </option>
              <option value="news-classification/sentiment-classification">
                Sentiment per Subject
              </option>
            </optgroup>

            <optgroup label="Toxicity and Sentiment">
              <option
                value="sentiment-classification/toxic-comment-classification"
              >
                Toxicity per Sentiment
              </option>
              <option
                value="toxic-comment-classification/sentiment-classification"
              >
                Sentiment per Toxicity
              </option>
            </optgroup>

            <optgroup label="Misc">
              <option
                value="sentiment-classification-lr/sentiment-classification"
              >
                LinearSVC per LogisticRegression
              </option>
            </optgroup>
          </select>
        </div>
      </div>

      <div class="columns my-4 is-centered">
        <div id="graph" class="column is-narrow"></div>
      </div>
    </main>

    <script>
      const defaultView = "toxic-comment-classification/news-classification";
      const selectTarget = document.querySelector("[name=view]");

      const isUnique = (value, index, list) => {
        return list.indexOf(value) === index;
      };

      const reload = () => {
        const graphTarget = d3.select("#graph");
        const graphElement = document.getElementById("graph");
        while (graphElement.firstChild) {
          graphElement.firstChild.remove();
        }

        document.title = selectTarget.options[selectTarget.selectedIndex].text;

        d3.csv(`/heatmap/${selectTarget.value ?? defaultView}/`).then(
          (data) => {
            const groups = d3.group(
              data,
              (d) => d.Subject,
              (d) => d.Sentiment
            );

            const subjects = data.map((d) => d.Subject).filter(isUnique);
            const sentiments = data.map((d) => d.Sentiment).filter(isUnique);

            const margin = { bottom: 120, left: 200, top: 0, right: 0 };

            const width = 1280 - margin.left - margin.right;
            const height = 720 - margin.top - margin.bottom;

            const svg = graphTarget
              .append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", `translate(${margin.left},${margin.top})`);

            const x = d3
              .scaleBand()
              .range([0, width])
              .domain(sentiments)
              .padding(0.05);
            const xLabel = svg
              .append("g")
              .style("font-size", 15)
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x).tickSize(0));

            const y = d3
              .scaleBand()
              .range([height, 0])
              .domain(subjects)
              .padding(0.05);
            const yLabel = svg
              .append("g")
              .style("font-size", 15)
              .call(d3.axisLeft(y).tickSize(0));

            xLabel
              .selectAll("text")
              .style("text-anchor", "end")
              .attr("dx", "-0.6em")
              .attr("dy", "0.6em")
              .attr("transform", "rotate(-45)");

            xLabel.select(".domain").remove();
            yLabel.select(".domain").remove();

            const [minValue, maxValue] = d3.extent(data, (entry) =>
              parseFloat(entry.Value)
            );

            const colors = d3
              .scaleLinear()
              .domain([minValue, maxValue])
              .range(["GhostWhite", "Tomato"]);

            // create a tooltip
            const tooltip = graphTarget
              .append("div")
              .style("opacity", 0)
              .attr("class", "tooltip")
              .style("background-color", "white")
              .style("border", "solid")
              .style("border-width", "2px")
              .style("border-radius", "5px")
              .style("padding", "5px");

            svg
              .selectAll()
              .data(data, function (d) {
                return d.Subject + ":" + d.Sentiment;
              })
              .enter()
              .append("rect")
              .attr("x", function (d) {
                return x(d.Sentiment);
              })
              .attr("y", function (d) {
                return y(d.Subject);
              })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("width", x.bandwidth())
              .attr("height", y.bandwidth())
              .style("fill", function (d) {
                return colors(d.Value);
              })
              .style("stroke-width", 4)
              .style("stroke", "none")
              .style("opacity", 0.8);
          }
        );
      };

      document.addEventListener("DOMContentLoaded", reload);
      selectTarget.addEventListener("change", reload);
    </script>
  </body>
</html>
